body {
  font-family: Arial;
  padding: 25px 100px;
  max-width:1000px;
}

form {
  background-color: rgb(239, 236, 236);
  padding: 15px 20px;
}

.material-icons{
  position: relative;
  top: 8px;
  left: 8px;
}

input[type="text"] {
    width: 95%;
    padding: 8px 10px;
    position: relative;
    left: 9px;
    margin: 5px 0px;
  }

.calculate{
  background-color: rgb(70, 162, 219);
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: medium;
  }

.button{
  display: grid;
  place-items: center;
}

input[type="button"] {
  display: inline-block;
  background-color: rgb(70, 162, 219);
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: medium;
}

button[type="reset"] {
  background-color: white;
  border-color: rgb(239, 236, 236);
  border-style: ridge;
  padding: 10px 20px;
  text-decoration: none;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}

.hasil {
  display: grid;
  place-items: center;
  height: 110px;
  background-color: rgb(239, 236, 236);
  padding: 5px 2px;
  font-size: larger;
}

#table {
  height: 130px;
  background-color: rgb(239, 236, 236);
  margin: 0 auto;
  border: 1px solid rgb(70, 162, 219);
}

table, th, td {
  margin: auto;
  height: 20px;
  width: 550px;
  text-align: center;
  border: 1px solid black;
}

.penutup {
  background-color: rgb(239, 236, 236);
  text-align: center;
  padding: 5px 2px;
}

.download{
  text-align: center;
  font-size: larger;
}

img{
  border-radius: 5px;
  height: 30px;
}
